html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mynetwork {
  width: 50%;
  height: 100%;
}

#container2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#mynetwork2 {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  margin: 0 auto;
}

#generate-graph {
  margin: auto;
  display: block;
}

#solve {
  margin: auto;
  display: block;
}
